<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sourceforge.plantuml.eclipse.diagramTextProvider">
      <diagramTextProvider
            priority="20"
            providerClass="org.emoflon.ibex.tgg.ide.hipe.visualisation.IbexHiPEPatternVisualiser">
      </diagramTextProvider>
   </extension>
   <extension
         point="org.emoflon.ibex.tgg.ide.IbexTGGBuilderExtension">
      <builder_extension
            build_before_all="false"
            class="org.emoflon.ibex.tgg.compiler.hipe.defaults.IbexHiPEBuilderExtension">
      </builder_extension>
   </extension>
   <extension
         point="org.emoflon.ibex.tgg.ide.IbexTGGNatureExtension">
      <nature_extension
            class="org.emoflon.ibex.tgg.compiler.hipe.defaults.IbexHiPENatureExtension">
      </nature_extension>
   </extension>

</plugin>
