<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.emoflon.ibex.gt.GTEngineExtension">
    <engine_extension class="org.emoflon.ibex.gt.hipe.ide.codegen.GTHiPEExtension"/>
  </extension>
  <extension
        point="org.emoflon.ibex.gt.GTEngineBuilderExtension">
     <builder_extension
           class="org.emoflon.ibex.gt.hipe.ide.codegen.GTHiPEBuilderExtension">
     </builder_extension>
  </extension>
  <extension
        point="org.moflon.core.ui.DiagramTextProvider">
     <diagram_text_provider
           class="org.emoflon.ibex.gt.hipe.visualization.HiPENetworkModelVisualiser">
     </diagram_text_provider>
  </extension>
  <extension
        point="org.moflon.core.ui.DiagramTextProvider">
     <diagram_text_provider
           class="org.emoflon.ibex.gt.hipe.visualization.HiPEPatternModelVisualiser">
     </diagram_text_provider>
  </extension>
  
   
</plugin>
